In [199]:
# import dependencies
import pandas as pd
from sqlalchemy import create_engine, text
import json
import config

Cleans data, loads into PostgreSQL database for Flask version, and saves CSV's for GitHub Pages version. Also updates neighbourhoods.geojson with new labels for 'hoods.

---

# update file paths below, or neighbourhoods_dict, for postgres / csv's

reviews_cleaned.csv may not push to git if over 100MB (the penultimate table here)

# MARCH 2025

# Update

In Hosts and Min_Max, I handle three rows by name. Those fixes have been commented out (which will throw an error now, but prevents me from accidentally wiping future data) but can be reenabled for March 2025 if necessary. In the schema, I removed the NOT NULL constraint on Calendar's minimum_night and maximum_night.

# Commented out Tableau

Leave that data as June 2023

In [ ]:
# paths for March 2025 data

# define paths to csv files (update as needed)
# check folder, and month for each path
path_to_listings_detailed = "../raw_data/listings_detailed_2025_mar.csv"
path_to_listings_simple = "../raw_data/2025_mar/listings.csv"
path_to_reviews = "../raw_data/reviews_detailed_2025_mar.csv"
# path_to_reviews_pt2 = "../raw_data/reviews_detailed_2025_mar_pt2.csv"
path_to_calendar = "../raw_data/2025_mar/calendar.csv"
path_to_geojson = "../raw_data/2025_mar/neighbourhoods.geojson"
output_path_geojson_backup = "./neighbourhoods_cleaned.geojson"
output_path_geojson_GitHubPages = "../../../docs/static/resources/neighbourhoods_cleaned.geojson"
output_path_geojson_FlaskApp = "../../../flask/static/resources/neighbourhoods_cleaned.geojson"
# output_path_geojson_tableau = "../tableau_data/neighbourhoods_cleaned.geojson"

# dict for updating neighbourhood names
neighbourhoods_dict = {
    'Historic Anacostia': 'SE Historic Anacostia', 
    'Edgewood, Bloomingdale, Truxton Circle, Eckington': 'NE/NW Edgewood, Bloomingdale, Truxton Circle, Eckington', 
    'Capitol Hill, Lincoln Park': 'SE Capitol Hill, Lincoln Park', 
    'Eastland Gardens, Kenilworth': 'NE Eastland Gardens, Kenilworth', 
    'Kalorama Heights, Adams Morgan, Lanier Heights': 'NW-mid Kalorama Heights, Adams Morgan, Lanier Heights', 
    'Brightwood Park, Crestwood, Petworth': 'NW-mid Brightwood Park, Crestwood, Petworth', 
    'Spring Valley, Palisades, Wesley Heights, Foxhall Crescent, Foxhall Village, Georgetown Reservoir': 'NW-far Spring Valley, Palisades, Wesley Heights, Foxhall Crescent, Foxhall Village, Georgetown Reservoir', 
    'Cathedral Heights, McLean Gardens, Glover Park': 'NW-far Cathedral Heights, McLean Gardens, Glover Park', 
    'Lamont Riggs, Queens Chapel, Fort Totten, Pleasant Hill': 'NE/NW Lamont Riggs, Queens Chapel, Fort Totten, Pleasant Hill', 
    'Shaw, Logan Circle': 'NW-mid Shaw, Logan Circle', 
    'Howard University, Le Droit Park, Cardozo/Shaw': 'NW-mid Howard University, Le Droit Park, Cardozo/Shaw', 
    'Takoma, Brightwood, Manor Park': 'NW-mid Takoma, Brightwood, Manor Park', 
    'Colonial Village, Shepherd Park, North Portal Estates': 'NW-mid Colonial Village, Shepherd Park, North Portal Estates', 
    'Dupont Circle, Connecticut Avenue/K Street': 'NW-mid Dupont Circle, Connecticut Avenue/K Street', 
    'Capitol View, Marshall Heights, Benning Heights': 'SE Capitol View, Marshall Heights, Benning Heights', 
    'Downtown, Chinatown, Penn Quarters, Mount Vernon Square, North Capitol Street': 'NW-mid Downtown, Chinatown, Penn Quarters, Mount Vernon Square, North Capitol Street', 
    'Union Station, Stanton Park, Kingman Park': 'NE Union Station, Stanton Park, Kingman Park', 
    'Georgetown, Burleith/Hillandale': 'NW-far Georgetown, Burleith/Hillandale', 
    'Columbia Heights, Mt. Pleasant, Pleasant Plains, Park View': 'NW-mid Columbia Heights, Mt. Pleasant, Pleasant Plains, Park View', 
    'Douglas, Shipley Terrace': 'SE Douglas, Shipley Terrace', 
    'Cleveland Park, Woodley Park, Massachusetts Avenue Heights, Woodland-Normanstone Terrace': 'NW-far Cleveland Park, Woodley Park, Massachusetts Avenue Heights, Woodland-Normanstone Terrace', 
    'River Terrace, Benning, Greenway, Dupont Park': 'NE/SE River Terrace, Benning, Greenway, Dupont Park', 
    'Friendship Heights, American University Park, Tenleytown': 'NW-far Friendship Heights, American University Park, Tenleytown', 
    'West End, Foggy Bottom, GWU': 'NW-mid West End, Foggy Bottom, GWU', 
    'Southwest Employment Area, Southwest/Waterfront, Fort McNair, Buzzard Point': 'SW Southwest Employment Area, Southwest/Waterfront, Fort McNair, Buzzard Point', 
    'Hawthorne, Barnaby Woods, Chevy Chase': 'NW-far Hawthorne, Barnaby Woods, Chevy Chase', 
    'North Michigan Park, Michigan Park, University Heights': 'NE North Michigan Park, Michigan Park, University Heights', 
    'North Cleveland Park, Forest Hills, Van Ness': 'NW-far North Cleveland Park, Forest Hills, Van Ness', 
    'Brookland, Brentwood, Langdon': 'NE Brookland, Brentwood, Langdon', 
    'Twining, Fairlawn, Randle Highlands, Penn Branch, Fort Davis Park, Fort Dupont': 'SE Twining, Fairlawn, Randle Highlands, Penn Branch, Fort Davis Park, Fort Dupont', 
    'Mayfair, Hillbrook, Mahaning Heights': 'NE Mayfair, Hillbrook, Mahaning Heights', 
    'Ivy City, Arboretum, Trinidad, Carver Langston': 'NE Ivy City, Arboretum, Trinidad, Carver Langston', 
    'Fairfax Village, Naylor Gardens, Hillcrest, Summit Park': 'SE Fairfax Village, Naylor Gardens, Hillcrest, Summit Park', 
    'Near Southeast, Navy Yard': 'SE Near Southeast, Navy Yard', 
    'Congress Heights, Bellevue, Washington Highlands': 'SE Congress Heights, Bellevue, Washington Highlands', 
    'Sheridan, Barry Farm, Buena Vista': 'SE Sheridan, Barry Farm, Buena Vista', 
    'Woodridge, Fort Lincoln, Gateway': 'NE Woodridge, Fort Lincoln, Gateway', 
    'Woodland/Fort Stanton, Garfield Heights, Knox Hill': 'SE Woodland/Fort Stanton, Garfield Heights, Knox Hill', 
    'Deanwood, Burrville, Grant Park, Lincoln Heights, Fairmont Heights': 'NE Deanwood, Burrville, Grant Park, Lincoln Heights, Fairmont Heights'
}

In [ ]:
# # paths for 2024 Jun data
# # define paths to csv files (update as needed)
# # check folder, and month for each path
# path_to_listings_detailed = "../raw_data/listings_detailed_2024_jun.csv"
# path_to_listings_simple = "../raw_data/2024_jun/listings.csv"
# path_to_reviews_pt1 = "../raw_data/reviews_detailed_2024_jun_pt1.csv"
# path_to_reviews_pt2 = "../raw_data/reviews_detailed_2024_jun_pt2.csv"
# path_to_calendar = "../raw_data/2024_jun/calendar.csv"
# path_to_geojson = "../raw_data/2024_jun/neighbourhoods.geojson"
# output_path_geojson_backup = "./neighbourhoods_cleaned.geojson"
# output_path_geojson_GitHubPages = "../../../docs/static/resources/neighbourhoods_cleaned.geojson"
# output_path_geojson_FlaskApp = "../../../flask/static/resources/neighbourhoods_cleaned.geojson"
# output_path_geojson_tableau = "../tableau_data/neighbourhoods_cleaned.geojson"

# # dict for updating neighbourhood names
# neighbourhoods_dict = {
#     'Historic Anacostia': 'SE Historic Anacostia', 
#     'Edgewood, Bloomingdale, Truxton Circle, Eckington': 'NE/NW Edgewood, Bloomingdale, Truxton Circle, Eckington', 
#     'Capitol Hill, Lincoln Park': 'SE Capitol Hill, Lincoln Park', 
#     'Eastland Gardens, Kenilworth': 'NE Eastland Gardens, Kenilworth', 
#     'Kalorama Heights, Adams Morgan, Lanier Heights': 'NW-mid Kalorama Heights, Adams Morgan, Lanier Heights', 
#     'Brightwood Park, Crestwood, Petworth': 'NW-mid Brightwood Park, Crestwood, Petworth', 
#     'Spring Valley, Palisades, Wesley Heights, Foxhall Crescent, Foxhall Village, Georgetown Reservoir': 'NW-far Spring Valley, Palisades, Wesley Heights, Foxhall Crescent, Foxhall Village, Georgetown Reservoir', 
#     'Cathedral Heights, McLean Gardens, Glover Park': 'NW-far Cathedral Heights, McLean Gardens, Glover Park', 
#     'Lamont Riggs, Queens Chapel, Fort Totten, Pleasant Hill': 'NE/NW Lamont Riggs, Queens Chapel, Fort Totten, Pleasant Hill', 
#     'Shaw, Logan Circle': 'NW-mid Shaw, Logan Circle', 
#     'Howard University, Le Droit Park, Cardozo/Shaw': 'NW-mid Howard University, Le Droit Park, Cardozo/Shaw', 
#     'Takoma, Brightwood, Manor Park': 'NW-mid Takoma, Brightwood, Manor Park', 
#     'Colonial Village, Shepherd Park, North Portal Estates': 'NW-mid Colonial Village, Shepherd Park, North Portal Estates', 
#     'Dupont Circle, Connecticut Avenue/K Street': 'NW-mid Dupont Circle, Connecticut Avenue/K Street', 
#     'Capitol View, Marshall Heights, Benning Heights': 'SE Capitol View, Marshall Heights, Benning Heights', 
#     'Downtown, Chinatown, Penn Quarters, Mount Vernon Square, North Capitol Street': 'NW-mid Downtown, Chinatown, Penn Quarters, Mount Vernon Square, North Capitol Street', 
#     'Union Station, Stanton Park, Kingman Park': 'NE Union Station, Stanton Park, Kingman Park', 
#     'Georgetown, Burleith/Hillandale': 'NW-far Georgetown, Burleith/Hillandale', 
#     'Columbia Heights, Mt. Pleasant, Pleasant Plains, Park View': 'NW-mid Columbia Heights, Mt. Pleasant, Pleasant Plains, Park View', 
#     'Douglas, Shipley Terrace': 'SE Douglas, Shipley Terrace', 
#     'Cleveland Park, Woodley Park, Massachusetts Avenue Heights, Woodland-Normanstone Terrace': 'NW-far Cleveland Park, Woodley Park, Massachusetts Avenue Heights, Woodland-Normanstone Terrace', 
#     'River Terrace, Benning, Greenway, Dupont Park': 'NE/SE River Terrace, Benning, Greenway, Dupont Park', 
#     'Friendship Heights, American University Park, Tenleytown': 'NW-far Friendship Heights, American University Park, Tenleytown', 
#     'West End, Foggy Bottom, GWU': 'NW-mid West End, Foggy Bottom, GWU', 
#     'Southwest Employment Area, Southwest/Waterfront, Fort McNair, Buzzard Point': 'SW Southwest Employment Area, Southwest/Waterfront, Fort McNair, Buzzard Point', 
#     'Hawthorne, Barnaby Woods, Chevy Chase': 'NW-far Hawthorne, Barnaby Woods, Chevy Chase', 
#     'North Michigan Park, Michigan Park, University Heights': 'NE North Michigan Park, Michigan Park, University Heights', 
#     'North Cleveland Park, Forest Hills, Van Ness': 'NW-far North Cleveland Park, Forest Hills, Van Ness', 
#     'Brookland, Brentwood, Langdon': 'NE Brookland, Brentwood, Langdon', 
#     'Twining, Fairlawn, Randle Highlands, Penn Branch, Fort Davis Park, Fort Dupont': 'SE Twining, Fairlawn, Randle Highlands, Penn Branch, Fort Davis Park, Fort Dupont', 
#     'Mayfair, Hillbrook, Mahaning Heights': 'NE Mayfair, Hillbrook, Mahaning Heights', 
#     'Ivy City, Arboretum, Trinidad, Carver Langston': 'NE Ivy City, Arboretum, Trinidad, Carver Langston', 
#     'Fairfax Village, Naylor Gardens, Hillcrest, Summit Park': 'SE Fairfax Village, Naylor Gardens, Hillcrest, Summit Park', 
#     'Near Southeast, Navy Yard': 'SE Near Southeast, Navy Yard', 
#     'Congress Heights, Bellevue, Washington Highlands': 'SE Congress Heights, Bellevue, Washington Highlands', 
#     'Sheridan, Barry Farm, Buena Vista': 'SE Sheridan, Barry Farm, Buena Vista', 
#     'Woodridge, Fort Lincoln, Gateway': 'NE Woodridge, Fort Lincoln, Gateway', 
#     'Woodland/Fort Stanton, Garfield Heights, Knox Hill': 'SE Woodland/Fort Stanton, Garfield Heights, Knox Hill', 
#     'Deanwood, Burrville, Grant Park, Lincoln Heights, Fairmont Heights': 'NE Deanwood, Burrville, Grant Park, Lincoln Heights, Fairmont Heights'
# }

In [202]:
# connect to database
db_url = f"postgresql://postgres:{config.password}@localhost:5432/{config.database}"
engine = create_engine(db_url)

In [203]:
# function to load table into postgres db, save backup csv
def to_sql_and_csv(table_name, df):
    # write to csv
    df.to_csv(f"./{table_name}_cleaned.csv", index=False)
    # load into postgres db
    with engine.begin() as conn:
        conn.execute(text(f"DELETE FROM {table_name}"))
        df.to_sql(table_name, conn, if_exists="append", index=False)

In [204]:
# load schema into postgres db

# load sql schema, split by ; and run each statement
# to create tables in postgres
with engine.connect() as conn:
    with open("./schema.sql", "r") as file:
        queries = file.read().split(";")
        for query in queries:
            # strip whitespace and ignore empty queries
            if query.strip() != "":
                conn.execute(text(query))
                conn.commit()


# confirm tables are created
with engine.connect() as conn:
    result = conn.execute(
        text(
            "SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'"
        )
    )
    print(f"Tables in database: {result.fetchall()}")

Tables in database: [('auth_user_user_permissions',), ('django_admin_log',), ('django_session',), ('airbnb_data_hub_dc_availability',), ('airbnb_data_hub_dc_listingcategorical',), ('listings',), ('listings_categorical',), ('airbnb_data_hub_dc_host',), ('airbnb_data_hub_dc_listing',), ('airbnb_data_hub_dc_neighbourhood',), ('neighbourhoods',), ('hosts',), ('listing_reviews',), ('availability',), ('min_max_night',), ('django_migrations',), ('django_content_type',), ('auth_permission',), ('auth_group',), ('auth_group_permissions',), ('auth_user_groups',), ('auth_user',), ('airbnb_data_hub_dc_listingreviews',), ('airbnb_data_hub_dc_minmaxnight',), ('airbnb_data_hub_dc_calendar',), ('airbnb_data_hub_dc_hostlistingscount',), ('airbnb_data_hub_dc_review',), ('host_listings_count',), ('reviews',), ('calendar',), ('map_listings',), ('price_availability',)]

In [205]:
# load df
df = pd.read_csv(path_to_listings_detailed)
print(f"Number of rows: {len(df)}")
print(f"Shape: {df.shape}")
df.head()

Number of rows: 6257
Shape: (6257, 79)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,3686,https://www.airbnb.com/rooms/3686,20250313035211,2025-03-14,city scrape,Vita's Hideaway,IMPORTANT NOTES<br />* Carefully read and be s...,We love that our neighborhood is up and coming...,https://a0.muscache.com/pictures/61e02c7e-3d66...,4645,...,4.84,3.91,4.64,NaN,f,1,0,1,0,0.48
1,3943,https://www.airbnb.com/rooms/3943,20250313035211,2025-03-13,city scrape,Historic Rowhouse Near Monuments,You will be staying in high ceiling bedroom w...,This rowhouse is centrally located in the hear...,https://a0.muscache.com/pictures/airflow/Hosti...,5059,...,4.92,4.60,4.77,Hosted License: 5007242201001033,f,5,0,5,0,2.77
2,4197,https://www.airbnb.com/rooms/4197,20250313035211,2025-03-13,city scrape,Capitol Hill Bedroom walk to Metro,This is the middle bedroom upstairs in a resto...,"Our area, the Eastern Market neighborhood of C...",https://a0.muscache.com/pictures/miso/Hosting-...,5061,...,4.98,4.97,4.93,Hosted License: 5007242201000749,f,2,0,2,0,0.33
3,4529,https://www.airbnb.com/rooms/4529,20250313035211,2025-03-13,city scrape,Bertina's House Part One,This is large private bedroom with plenty of...,Very quiet neighborhood and it is easy accessi...,https://a0.muscache.com/pictures/86072003/6709...,5803,...,4.93,4.51,4.83,Exempt,f,2,0,2,0,0.54
4,5589,https://www.airbnb.com/rooms/5589,20250313035211,2025-03-13,previous scrape,Cozy apt in Adams Morgan,This is a 1 br (bedroom + living room in Adams...,"Adams Morgan spills over with hipsters, salsa ...",https://a0.muscache.com/pictures/miso/Hosting-...,6527,...,4.82,4.91,4.44,NaN,f,1,1,0,0,0.51

# hosts

In [206]:
hosts_df = df[
    [
        "host_id",
        "host_url",
        "host_name",
        "host_since",
        "host_location",
        "host_about",
        "host_response_time",
        "host_response_rate",
        "host_acceptance_rate",
        "host_is_superhost",
        "host_thumbnail_url",
        "host_picture_url",
        "host_neighbourhood",
        "host_listings_count",
        "host_total_listings_count",
        "host_verifications",
        "host_has_profile_pic",
        "host_identity_verified",
    ]
]
hosts_df.head()

,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified
0,4645,https://www.airbnb.com/users/show/4645,Vita,2008-11-26,"Washington D.C., DC","I am a literary scholar, teacher, poet, vegan ...",NaN,NaN,100%,f,https://a0.muscache.com/im/pictures/user/User-...,https://a0.muscache.com/im/pictures/user/User-...,Anacostia,1.0,4.0,"['email', 'phone', 'work_email']",t,t
1,5059,https://www.airbnb.com/users/show/5059,Vasa,2008-12-12,"Washington, DC",I travel often and always try to immerse mysel...,within an hour,100%,95%,t,https://a0.muscache.com/im/pictures/user/8ec69...,https://a0.muscache.com/im/pictures/user/8ec69...,Eckington,5.0,5.0,"['email', 'phone']",t,t
2,5061,https://www.airbnb.com/users/show/5061,Sandra,2008-12-12,"Washington D.C., DC",I’m a California native who came to work for t...,within an hour,100%,100%,t,https://a0.muscache.com/im/pictures/user/93c77...,https://a0.muscache.com/im/pictures/user/93c77...,Capitol Hill,2.0,2.0,"['email', 'phone']",t,t
3,5803,https://www.airbnb.com/users/show/5803,Bertina,2008-12-30,"Washington, DC",I am a retried teacher. I enjoy walking and wa...,NaN,NaN,NaN,NaN,https://a0.muscache.com/im/pictures/user/User-...,https://a0.muscache.com/im/pictures/user/User-...,Eastland Gardens,4.0,4.0,"['email', 'phone']",t,t
4,6527,https://www.airbnb.com/users/show/6527,Ami,2009-01-13,"Washington D.C., DC","I am an environmentalist, and I own and operat...",within a day,100%,0%,f,https://a0.muscache.com/im/users/6527/profile_...,https://a0.muscache.com/im/users/6527/profile_...,Adams Morgan,2.0,4.0,"['email', 'phone', 'work_email']",t,t

In [207]:
# check datatypes
hosts_df.dtypes

host_id                        int64
host_url                      object
host_name                     object
host_since                    object
host_location                 object
host_about                    object
host_response_time            object
host_response_rate            object
host_acceptance_rate          object
host_is_superhost             object
host_thumbnail_url            object
host_picture_url              object
host_neighbourhood            object
host_listings_count          float64
host_total_listings_count    float64
host_verifications            object
host_has_profile_pic          object
host_identity_verified        object
dtype: object

In [208]:
# drop duplicate rows (primary key is host_id)
hosts_df = hosts_df.drop_duplicates(subset=["host_id"])

# convert host_since to datetime
hosts_df.host_since = pd.to_datetime(hosts_df.host_since)

# convert host_response_rate and host_acceptance_rate to float
hosts_df.host_response_rate = hosts_df.host_response_rate.str.replace("%", "").astype(float)
hosts_df.host_acceptance_rate = hosts_df.host_acceptance_rate.str.replace("%", "").astype(float)

# convert host_is_superhost, host_has_profile_pic, host_identity_verified to boolean
columns_to_bool = [
    "host_is_superhost",
    "host_has_profile_pic",
    "host_identity_verified",
]

for column in columns_to_bool:
    hosts_df[column] = hosts_df[column].map({"t": True, "f": False}).astype(bool)

# check datatypes
hosts_df.dtypes

host_id                               int64
host_url                             object
host_name                            object
host_since                   datetime64[ns]
host_location                        object
host_about                           object
host_response_time                   object
host_response_rate                  float64
host_acceptance_rate                float64
host_is_superhost                      bool
host_thumbnail_url                   object
host_picture_url                     object
host_neighbourhood                   object
host_listings_count                 float64
host_total_listings_count           float64
host_verifications                   object
host_has_profile_pic                   bool
host_identity_verified                 bool
dtype: object

In [209]:
hosts_df.host_neighbourhood.value_counts()

host_neighbourhood
Northwest Washington                788
Northeast Washington                494
Southeast Washington                203
Capitol Hill                        201
Near Northeast/H Street Corridor     54
                                   ...
Washington Heights                    1
Good Hope                             1
University Heights                    1
Garfield Heights                      1
Bethesda, MD                          1
Name: count, Length: 195, dtype: int64

# Fixing an error on two specific rows, March 2025!!

In [210]:
# # Check for rows with missing host_name
# missing_host_name = hosts_df[hosts_df['host_since'].isnull()]
# print(missing_host_name)

       host_id                                    host_url host_name  \
1925  29128198  https://www.airbnb.com/users/show/29128198       NaN
3142  27659990  https://www.airbnb.com/users/show/27659990       NaN

     host_since host_location host_about host_response_time  \
1925        NaT           NaN        NaN                NaN
3142        NaT           NaN        NaN                NaN

      host_response_rate  host_acceptance_rate  host_is_superhost  \
1925                 NaN                   NaN              False
3142                 NaN                   NaN               True

     host_thumbnail_url host_picture_url host_neighbourhood  \
1925                NaN              NaN                NaN
3142                NaN              NaN                NaN

      host_listings_count  host_total_listings_count host_verifications  \
1925                  NaN                        NaN                NaN
3142                  NaN                        NaN                NaN

      host_has_profile_pic  host_identity_verified
1925                  True                    True
3142                  True                    True

In [211]:
# # based on schema
# default_values = {
#     "host_name": "Unknown",  # TEXT, NOT NULL
#     "host_since": pd.Timestamp("1970-01-01"),  # DATE, NOT NULL
#     "host_location": "Unknown",  # TEXT, nullable
#     "host_about": "Unknown",  # TEXT, nullable
#     "host_response_time": "Unknown",  # TEXT, nullable
#     "host_response_rate": 0.0,  # FLOAT, nullable
#     "host_acceptance_rate": 0.0,  # FLOAT, nullable
#     "host_thumbnail_url": "Unknown",  # TEXT, NOT NULL
#     "host_picture_url": "Unknown",  # TEXT, NOT NULL
#     "host_neighbourhood": "Unknown",  # TEXT, nullable
#     "host_listings_count": 0,  # INT, NOT NULL
#     "host_total_listings_count": 0,  # INT, NOT NULL
#     "host_verifications": "Unknown",  # TEXT, NOT NULL
# }

# # apply default values to rows 1925 and 3142
# for column, default_value in default_values.items():
#     hosts_df.loc[[1925, 3142], column] = hosts_df.loc[[1925, 3142], column].fillna(default_value)

# # verify changes
# print(hosts_df.loc[[1925, 3142]])

       host_id                                    host_url host_name  \
1925  29128198  https://www.airbnb.com/users/show/29128198   Unknown
3142  27659990  https://www.airbnb.com/users/show/27659990   Unknown

     host_since host_location host_about host_response_time  \
1925 1970-01-01       Unknown    Unknown            Unknown
3142 1970-01-01       Unknown    Unknown            Unknown

      host_response_rate  host_acceptance_rate  host_is_superhost  \
1925                 0.0                   0.0              False
3142                 0.0                   0.0               True

     host_thumbnail_url host_picture_url host_neighbourhood  \
1925            Unknown          Unknown            Unknown
3142            Unknown          Unknown            Unknown

      host_listings_count  host_total_listings_count host_verifications  \
1925                  0.0                        0.0            Unknown
3142                  0.0                        0.0            Unknown

      host_has_profile_pic  host_identity_verified
1925                  True                    True
3142                  True                    True

In [212]:
# run save function
to_sql_and_csv("hosts", hosts_df)

# host_listings_count

In [213]:
hosts_lc_df = df[["host_id", "calculated_host_listings_count", "calculated_host_listings_count_entire_homes", "calculated_host_listings_count_private_rooms", "calculated_host_listings_count_shared_rooms"]]
hosts_lc_df.head()

,host_id,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
0,4645,1,0,1,0
1,5059,5,0,5,0
2,5061,2,0,2,0
3,5803,2,0,2,0
4,6527,1,1,0,0

In [214]:
# drop duplicate rows (primary key is host_id)
hosts_lc_df = hosts_lc_df.drop_duplicates(subset=["host_id"])

# rename columns
hosts_lc_df.rename(columns={"calculated_host_listings_count": "host_listings_total_count", "calculated_host_listings_count_entire_homes": "host_listings_entire_homes_count", "calculated_host_listings_count_private_rooms": "host_listings_private_rooms_count", "calculated_host_listings_count_shared_rooms": "host_listings_shared_rooms_count"}, inplace=True)
hosts_lc_df.columns

Index(['host_id', 'host_listings_total_count',
       'host_listings_entire_homes_count', 'host_listings_private_rooms_count',
       'host_listings_shared_rooms_count'],
      dtype='object')

In [215]:
hosts_lc_df.dtypes

host_id                              int64
host_listings_total_count            int64
host_listings_entire_homes_count     int64
host_listings_private_rooms_count    int64
host_listings_shared_rooms_count     int64
dtype: object

In [216]:
# run save function
to_sql_and_csv("host_listings_count", hosts_lc_df)

# neighbourhoods & neighbourhoods.geojson

In [217]:
# create table of unique neighbourhoods
neighbourhoods_df = pd.DataFrame(df.neighbourhood_cleansed.unique(), columns=["neighbourhood"]).reset_index()
neighbourhoods_df.rename(columns={"index": "neighbourhood_id"}, inplace=True)
neighbourhoods_df.head()

   neighbourhood_id                                      neighbourhood
0                 0                                 Historic Anacostia
1                 1  Edgewood, Bloomingdale, Truxton Circle, Eckington
2                 2                         Capitol Hill, Lincoln Park
3                 3                       Eastland Gardens, Kenilworth
4                 4     Kalorama Heights, Adams Morgan, Lanier Heights

In [218]:
neighbourhoods_df.dtypes

neighbourhood_id     int64
neighbourhood       object
dtype: object

In [219]:
neighbourhoods_df.neighbourhood.nunique()

39

In [220]:
# how I originally !!manually!! (woe is me) created the neighbourhoods_dict

# neighbourhoods = neighbourhoods_df.neighbourhood.unique()
# neighbourhoods_dict = {n: n for n in neighbourhoods}
# print(neighbourhoods_dict)

In [221]:
# neighbourhoods_dict = {
#     'Historic Anacostia': 'SE Historic Anacostia', 
#     'Edgewood, Bloomingdale, Truxton Circle, Eckington': 'NE/NW Edgewood, Bloomingdale, Truxton Circle, Eckington', 
#     'Capitol Hill, Lincoln Park': 'SE Capitol Hill, Lincoln Park', 
#     'Eastland Gardens, Kenilworth': 'NE Eastland Gardens, Kenilworth', 
#     'Kalorama Heights, Adams Morgan, Lanier Heights': 'NW-mid Kalorama Heights, Adams Morgan, Lanier Heights', 
#     'Brightwood Park, Crestwood, Petworth': 'NW-mid Brightwood Park, Crestwood, Petworth', 
#     'Spring Valley, Palisades, Wesley Heights, Foxhall Crescent, Foxhall Village, Georgetown Reservoir': 'NW-far Spring Valley, Palisades, Wesley Heights, Foxhall Crescent, Foxhall Village, Georgetown Reservoir', 
#     'Cathedral Heights, McLean Gardens, Glover Park': 'NW-far Cathedral Heights, McLean Gardens, Glover Park', 
#     'Lamont Riggs, Queens Chapel, Fort Totten, Pleasant Hill': 'NE/NW Lamont Riggs, Queens Chapel, Fort Totten, Pleasant Hill', 
#     'Shaw, Logan Circle': 'NW-mid Shaw, Logan Circle', 
#     'Howard University, Le Droit Park, Cardozo/Shaw': 'NW-mid Howard University, Le Droit Park, Cardozo/Shaw', 
#     'Takoma, Brightwood, Manor Park': 'NW-mid Takoma, Brightwood, Manor Park', 
#     'Colonial Village, Shepherd Park, North Portal Estates': 'NW-mid Colonial Village, Shepherd Park, North Portal Estates', 
#     'Dupont Circle, Connecticut Avenue/K Street': 'NW-mid Dupont Circle, Connecticut Avenue/K Street', 
#     'Capitol View, Marshall Heights, Benning Heights': 'SE Capitol View, Marshall Heights, Benning Heights', 
#     'Downtown, Chinatown, Penn Quarters, Mount Vernon Square, North Capitol Street': 'NW-mid Downtown, Chinatown, Penn Quarters, Mount Vernon Square, North Capitol Street', 
#     'Union Station, Stanton Park, Kingman Park': 'NE Union Station, Stanton Park, Kingman Park', 
#     'Georgetown, Burleith/Hillandale': 'NW-far Georgetown, Burleith/Hillandale', 
#     'Columbia Heights, Mt. Pleasant, Pleasant Plains, Park View': 'NW-mid Columbia Heights, Mt. Pleasant, Pleasant Plains, Park View', 
#     'Douglas, Shipley Terrace': 'SE Douglas, Shipley Terrace', 
#     'Cleveland Park, Woodley Park, Massachusetts Avenue Heights, Woodland-Normanstone Terrace': 'NW-far Cleveland Park, Woodley Park, Massachusetts Avenue Heights, Woodland-Normanstone Terrace', 
#     'River Terrace, Benning, Greenway, Dupont Park': 'NE/SE River Terrace, Benning, Greenway, Dupont Park', 
#     'Friendship Heights, American University Park, Tenleytown': 'NW-far Friendship Heights, American University Park, Tenleytown', 
#     'West End, Foggy Bottom, GWU': 'NW-mid West End, Foggy Bottom, GWU', 
#     'Southwest Employment Area, Southwest/Waterfront, Fort McNair, Buzzard Point': 'SW Southwest Employment Area, Southwest/Waterfront, Fort McNair, Buzzard Point', 
#     'Hawthorne, Barnaby Woods, Chevy Chase': 'NW-far Hawthorne, Barnaby Woods, Chevy Chase', 
#     'North Michigan Park, Michigan Park, University Heights': 'NE North Michigan Park, Michigan Park, University Heights', 
#     'North Cleveland Park, Forest Hills, Van Ness': 'NW-far North Cleveland Park, Forest Hills, Van Ness', 
#     'Brookland, Brentwood, Langdon': 'NE Brookland, Brentwood, Langdon', 
#     'Twining, Fairlawn, Randle Highlands, Penn Branch, Fort Davis Park, Fort Dupont': 'SE Twining, Fairlawn, Randle Highlands, Penn Branch, Fort Davis Park, Fort Dupont', 
#     'Mayfair, Hillbrook, Mahaning Heights': 'NE Mayfair, Hillbrook, Mahaning Heights', 
#     'Ivy City, Arboretum, Trinidad, Carver Langston': 'NE Ivy City, Arboretum, Trinidad, Carver Langston', 
#     'Fairfax Village, Naylor Gardens, Hillcrest, Summit Park': 'SE Fairfax Village, Naylor Gardens, Hillcrest, Summit Park', 
#     'Near Southeast, Navy Yard': 'SE Near Southeast, Navy Yard', 
#     'Congress Heights, Bellevue, Washington Highlands': 'SE Congress Heights, Bellevue, Washington Highlands', 
#     'Sheridan, Barry Farm, Buena Vista': 'SE Sheridan, Barry Farm, Buena Vista', 
#     'Woodridge, Fort Lincoln, Gateway': 'NE Woodridge, Fort Lincoln, Gateway', 
#     'Woodland/Fort Stanton, Garfield Heights, Knox Hill': 'SE Woodland/Fort Stanton, Garfield Heights, Knox Hill', 
#     'Deanwood, Burrville, Grant Park, Lincoln Heights, Fairmont Heights': 'NE Deanwood, Burrville, Grant Park, Lincoln Heights, Fairmont Heights'
# }

In [222]:
# use neighbourhoods_dict (from top) to update neighbourhood names
neighbourhoods_df.neighbourhood = neighbourhoods_df.neighbourhood.replace(neighbourhoods_dict)
# check that all labels have been updated
neighbourhoods_df.sort_values(by="neighbourhood")

    neighbourhood_id                                      neighbourhood
31                31                   NE Brookland, Brentwood, Langdon
38                38  NE Deanwood, Burrville, Grant Park, Lincoln He...
3                  3                    NE Eastland Gardens, Kenilworth
28                28  NE Ivy City, Arboretum, Trinidad, Carver Langston
35                35            NE Mayfair, Hillbrook, Mahaning Heights
27                27  NE North Michigan Park, Michigan Park, Univers...
18                18       NE Union Station, Stanton Park, Kingman Park
36                36                NE Woodridge, Fort Lincoln, Gateway
1                  1  NE/NW Edgewood, Bloomingdale, Truxton Circle, ...
8                  8  NE/NW Lamont Riggs, Queens Chapel, Fort Totten...
22                22  NE/SE River Terrace, Benning, Greenway, Dupont...
6                  6  NW-far Cathedral Heights, McLean Gardens, Glov...
21                21  NW-far Cleveland Park, Woodley Park, Massachus...
23                23  NW-far Friendship Heights, American University...
19                19             NW-far Georgetown, Burleith/Hillandale
26                26       NW-far Hawthorne, Barnaby Woods, Chevy Chase
29                29  NW-far North Cleveland Park, Forest Hills, Van...
5                  5  NW-far Spring Valley, Palisades, Wesley Height...
12                12        NW-mid Brightwood Park, Crestwood, Petworth
15                15  NW-mid Colonial Village, Shepherd Park, North ...
7                  7  NW-mid Columbia Heights, Mt. Pleasant, Pleasan...
17                17  NW-mid Downtown, Chinatown, Penn Quarters, Mou...
11                11  NW-mid Dupont Circle, Connecticut Avenue/K Street
10                10  NW-mid Howard University, Le Droit Park, Cardo...
4                  4  NW-mid Kalorama Heights, Adams Morgan, Lanier ...
9                  9                          NW-mid Shaw, Logan Circle
13                13              NW-mid Takoma, Brightwood, Manor Park
24                24                 NW-mid West End, Foggy Bottom, GWU
2                  2                      SE Capitol Hill, Lincoln Park
16                16  SE Capitol View, Marshall Heights, Benning Hei...
14                14  SE Congress Heights, Bellevue, Washington High...
20                20                        SE Douglas, Shipley Terrace
32                32  SE Fairfax Village, Naylor Gardens, Hillcrest,...
0                  0                              SE Historic Anacostia
33                33                       SE Near Southeast, Navy Yard
34                34               SE Sheridan, Barry Farm, Buena Vista
30                30  SE Twining, Fairlawn, Randle Highlands, Penn B...
37                37  SE Woodland/Fort Stanton, Garfield Heights, Kn...
25                25  SW Southwest Employment Area, Southwest/Waterf...

In [223]:
# run save function
to_sql_and_csv("neighbourhoods", neighbourhoods_df)

#### neighbourhoods.geojson cleaned

In [224]:
# load geojson
with open(path_to_geojson, 'r') as f:
    geojson_data = json.load(f)

# loop through features and update neighborhood names using neighborhoods_dict
for feature in geojson_data['features']:
    current_neighborhood = feature['properties']['neighbourhood']
    if current_neighborhood in neighbourhoods_dict:
        feature['properties']['neighbourhood'] = neighbourhoods_dict[current_neighborhood]
        print(f"Updated: {current_neighborhood} -> {neighbourhoods_dict[current_neighborhood]}")

Updated: Congress Heights, Bellevue, Washington Highlands -> SE Congress Heights, Bellevue, Washington Highlands
Updated: Douglas, Shipley Terrace -> SE Douglas, Shipley Terrace
Updated: Woodland/Fort Stanton, Garfield Heights, Knox Hill -> SE Woodland/Fort Stanton, Garfield Heights, Knox Hill
Updated: Near Southeast, Navy Yard -> SE Near Southeast, Navy Yard
Updated: River Terrace, Benning, Greenway, Dupont Park -> NE/SE River Terrace, Benning, Greenway, Dupont Park
Updated: Downtown, Chinatown, Penn Quarters, Mount Vernon Square, North Capitol Street -> NW-mid Downtown, Chinatown, Penn Quarters, Mount Vernon Square, North Capitol Street
Updated: West End, Foggy Bottom, GWU -> NW-mid West End, Foggy Bottom, GWU
Updated: Friendship Heights, American University Park, Tenleytown -> NW-far Friendship Heights, American University Park, Tenleytown
Updated: Mayfair, Hillbrook, Mahaning Heights -> NE Mayfair, Hillbrook, Mahaning Heights
Updated: Deanwood, Burrville, Grant Park, Lincoln Heights, Fairmont Heights -> NE Deanwood, Burrville, Grant Park, Lincoln Heights, Fairmont Heights
Updated: Shaw, Logan Circle -> NW-mid Shaw, Logan Circle
Updated: Capitol View, Marshall Heights, Benning Heights -> SE Capitol View, Marshall Heights, Benning Heights
Updated: Spring Valley, Palisades, Wesley Heights, Foxhall Crescent, Foxhall Village, Georgetown Reservoir -> NW-far Spring Valley, Palisades, Wesley Heights, Foxhall Crescent, Foxhall Village, Georgetown Reservoir
Updated: Eastland Gardens, Kenilworth -> NE Eastland Gardens, Kenilworth
Updated: Ivy City, Arboretum, Trinidad, Carver Langston -> NE Ivy City, Arboretum, Trinidad, Carver Langston
Updated: Georgetown, Burleith/Hillandale -> NW-far Georgetown, Burleith/Hillandale
Updated: Dupont Circle, Connecticut Avenue/K Street -> NW-mid Dupont Circle, Connecticut Avenue/K Street
Updated: Howard University, Le Droit Park, Cardozo/Shaw -> NW-mid Howard University, Le Droit Park, Cardozo/Shaw
Updated: Southwest Employment Area, Southwest/Waterfront, Fort McNair, Buzzard Point -> SW Southwest Employment Area, Southwest/Waterfront, Fort McNair, Buzzard Point
Updated: North Michigan Park, Michigan Park, University Heights -> NE North Michigan Park, Michigan Park, University Heights
Updated: Brightwood Park, Crestwood, Petworth -> NW-mid Brightwood Park, Crestwood, Petworth
Updated: North Cleveland Park, Forest Hills, Van Ness -> NW-far North Cleveland Park, Forest Hills, Van Ness
Updated: Takoma, Brightwood, Manor Park -> NW-mid Takoma, Brightwood, Manor Park
Updated: Lamont Riggs, Queens Chapel, Fort Totten, Pleasant Hill -> NE/NW Lamont Riggs, Queens Chapel, Fort Totten, Pleasant Hill
Updated: Colonial Village, Shepherd Park, North Portal Estates -> NW-mid Colonial Village, Shepherd Park, North Portal Estates
Updated: Hawthorne, Barnaby Woods, Chevy Chase -> NW-far Hawthorne, Barnaby Woods, Chevy Chase
Updated: Historic Anacostia -> SE Historic Anacostia
Updated: Fairfax Village, Naylor Gardens, Hillcrest, Summit Park -> SE Fairfax Village, Naylor Gardens, Hillcrest, Summit Park
Updated: Sheridan, Barry Farm, Buena Vista -> SE Sheridan, Barry Farm, Buena Vista
Updated: Twining, Fairlawn, Randle Highlands, Penn Branch, Fort Davis Park, Fort Dupont -> SE Twining, Fairlawn, Randle Highlands, Penn Branch, Fort Davis Park, Fort Dupont
Updated: Union Station, Stanton Park, Kingman Park -> NE Union Station, Stanton Park, Kingman Park
Updated: Kalorama Heights, Adams Morgan, Lanier Heights -> NW-mid Kalorama Heights, Adams Morgan, Lanier Heights
Updated: Edgewood, Bloomingdale, Truxton Circle, Eckington -> NE/NW Edgewood, Bloomingdale, Truxton Circle, Eckington
Updated: Columbia Heights, Mt. Pleasant, Pleasant Plains, Park View -> NW-mid Columbia Heights, Mt. Pleasant, Pleasant Plains, Park View
Updated: Brookland, Brentwood, Langdon -> NE Brookland, Brentwood, Langdon
Updated: Woodridge, Fort Lincoln, Gateway -> NE Woodridge, Fort Lincoln, Gateway
Updated: Cathedral Heights, McLean Gardens, Glover Park -> NW-far Cathedral Heights, McLean Gardens, Glover Park
Updated: Cleveland Park, Woodley Park, Massachusetts Avenue Heights, Woodland-Normanstone Terrace -> NW-far Cleveland Park, Woodley Park, Massachusetts Avenue Heights, Woodland-Normanstone Terrace
Updated: Capitol Hill, Lincoln Park -> SE Capitol Hill, Lincoln Park

In [225]:
# save the updated geojson file
with open(output_path_geojson_backup, 'w') as f:
    json.dump(geojson_data, f)

# listings

In [226]:
listings_df = df[
    [
        "id",
        "host_id",
        "neighbourhood_cleansed",
        "latitude",
        "longitude",
        "accommodates",
        "bathrooms",
        "bedrooms",
        "beds",
        "price",
    ]
]
listings_df.head()

,id,host_id,neighbourhood_cleansed,latitude,longitude,accommodates,bathrooms,bedrooms,beds,price
0,3686,4645,Historic Anacostia,38.86339,-76.98889,1,1.0,1.0,2.0,$60.00
1,3943,5059,"Edgewood, Bloomingdale, Truxton Circle, Eckington",38.91195,-77.00456,2,1.0,1.0,1.0,$63.00
2,4197,5061,"Capitol Hill, Lincoln Park",38.88719,-76.99472,1,1.5,1.0,1.0,$128.00
3,4529,5803,"Eastland Gardens, Kenilworth",38.90585,-76.94469,2,1.0,1.0,2.0,$64.00
4,5589,6527,"Kalorama Heights, Adams Morgan, Lanier Heights",38.91887,-77.04008,3,NaN,1.0,NaN,NaN

In [227]:
# rename id column
listings_df.rename(columns={"id": "listing_id"}, inplace=True)

# convert price to float
listings_df.price = listings_df.price.str.replace("$", "").str.replace(",", "").astype(float)

# use neighbourhoods_dict (from top) to update neighbourhood names
listings_df.neighbourhood_cleansed = listings_df.neighbourhood_cleansed.replace(neighbourhoods_dict)

# merge neighbourhoods_df, drop neighbourhood_cleansed, neighbourhood
listings_df = pd.merge(listings_df, neighbourhoods_df, left_on="neighbourhood_cleansed", right_on="neighbourhood", how="left")
listings_df.drop(columns=["neighbourhood_cleansed", "neighbourhood"], inplace=True)

# reorganize columns
listings_df = listings_df[
    [
        "listing_id",
        "host_id",
        "neighbourhood_id",
        "latitude",
        "longitude",
        "accommodates",
        "bathrooms",
        "bedrooms",
        "beds",
        "price",
    ]
]

listings_df.head()

C:\Users\johbr\AppData\Local\Temp\ipykernel_21080\463512586.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings_df.rename(columns={"id": "listing_id"}, inplace=True)
C:\Users\johbr\AppData\Local\Temp\ipykernel_21080\463512586.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings_df.price = listings_df.price.str.replace("$", "").str.replace(",", "").astype(float)
C:\Users\johbr\AppData\Local\Temp\ipykernel_21080\463512586.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings_df.neighbourhood_cleansed = listings_df.neighbourhood_cleansed.replace(neighbourhoods_dict)

,listing_id,host_id,neighbourhood_id,latitude,longitude,accommodates,bathrooms,bedrooms,beds,price
0,3686,4645,0,38.86339,-76.98889,1,1.0,1.0,2.0,60.0
1,3943,5059,1,38.91195,-77.00456,2,1.0,1.0,1.0,63.0
2,4197,5061,2,38.88719,-76.99472,1,1.5,1.0,1.0,128.0
3,4529,5803,3,38.90585,-76.94469,2,1.0,1.0,2.0,64.0
4,5589,6527,4,38.91887,-77.04008,3,NaN,1.0,NaN,NaN

In [228]:
print(f"Number of price nulls: {listings_df.price.isnull().sum()}")

# set null as median price for each neighbourhood
listings_df['price'] = listings_df.groupby('neighbourhood_id')['price'].apply(lambda x: x.fillna(x.median())).reset_index(level=0, drop=True)

print(f"number of price nulls should be zero: {listings_df.price.isnull().sum()}")

Number of price nulls: 1488
number of price nulls should be zero: 0

In [229]:
# Query the database to check for null values in the price column
with engine.connect() as conn:
    result = conn.execute(
        text(
            "SELECT COUNT(*) FROM listings WHERE price IS NULL"
        )
    )
    null_count = result.fetchone()[0]
    print(f"Number of null values in the price column: {null_count}")

# Query the database to fetch some price values for a few neighborhoods
with engine.connect() as conn:
    result = conn.execute(
        text(
            """
            SELECT neighbourhood_id, price
            FROM listings
            WHERE neighbourhood_id IN (
                SELECT neighbourhood_id
                FROM listings
                GROUP BY neighbourhood_id
                ORDER BY COUNT(*) DESC
                LIMIT 5
            )
            ORDER BY neighbourhood_id, price
            LIMIT 100
            """
        )
    )
    rows = result.fetchall()
    for row in rows:
        print(row)

Number of null values in the price column: 0

In [230]:
listings_df.dtypes

listing_id            int64
host_id               int64
neighbourhood_id      int64
latitude            float64
longitude           float64
accommodates          int64
bathrooms           float64
bedrooms            float64
beds                float64
price               float64
dtype: object

In [231]:
# run save function
to_sql_and_csv("listings", listings_df)

# listings_categorical

In [232]:
listings_categorical_df = df[[
    "id",
    "name",
    "description",
    "listing_url",
    "neighborhood_overview",
    "picture_url",
    "property_type",
    "room_type",
    "amenities",
    "bathrooms_text",
    "license",        
]]

listings_categorical_df.head()

,id,name,description,listing_url,neighborhood_overview,picture_url,property_type,room_type,amenities,bathrooms_text,license
0,3686,Vita's Hideaway,IMPORTANT NOTES<br />* Carefully read and be s...,https://www.airbnb.com/rooms/3686,We love that our neighborhood is up and coming...,https://a0.muscache.com/pictures/61e02c7e-3d66...,Private room in home,Private room,"[""Shampoo"", ""Smoke alarm"", ""Essentials"", ""Stov...",1 shared bath,NaN
1,3943,Historic Rowhouse Near Monuments,You will be staying in high ceiling bedroom w...,https://www.airbnb.com/rooms/3943,This rowhouse is centrally located in the hear...,https://a0.muscache.com/pictures/airflow/Hosti...,Private room in townhouse,Private room,"[""Luggage dropoff allowed"", ""Window AC unit"", ...",1 private bath,Hosted License: 5007242201001033
2,4197,Capitol Hill Bedroom walk to Metro,This is the middle bedroom upstairs in a resto...,https://www.airbnb.com/rooms/4197,"Our area, the Eastern Market neighborhood of C...",https://a0.muscache.com/pictures/miso/Hosting-...,Private room in home,Private room,"[""Luggage dropoff allowed"", ""Fire pit"", ""Shamp...",1.5 shared baths,Hosted License: 5007242201000749
3,4529,Bertina's House Part One,This is large private bedroom with plenty of...,https://www.airbnb.com/rooms/4529,Very quiet neighborhood and it is easy accessi...,https://a0.muscache.com/pictures/86072003/6709...,Private room in home,Private room,"[""Luggage dropoff allowed"", ""Shampoo"", ""Smoke ...",1 private bath,Exempt
4,5589,Cozy apt in Adams Morgan,This is a 1 br (bedroom + living room in Adams...,https://www.airbnb.com/rooms/5589,"Adams Morgan spills over with hipsters, salsa ...",https://a0.muscache.com/pictures/miso/Hosting-...,Entire rental unit,Entire home/apt,"[""Luggage dropoff allowed"", ""Ethernet connecti...",1 bath,NaN

In [233]:
# rename columns
listings_categorical_df.rename(columns={"id": "listing_id", "name": "listing_name"}, inplace=True)

# open listing_simple.csv
listing_simple_df = pd.read_csv(path_to_listings_simple)
listing_simple_df = listing_simple_df[['id', 'name']]
listing_simple_df.rename(columns={"id": "listing_id", "name": "hover_description"}, inplace=True)

# merge with listings_categorical_df
listings_categorical_df = pd.merge(listings_categorical_df, listing_simple_df, on="listing_id", how="left")

# reorganize columns
listings_categorical_df = listings_categorical_df[
    [
        "listing_id",
        "listing_name",
        "hover_description",
        "description",
        "listing_url",
        "neighborhood_overview",
        "picture_url",
        "property_type",
        "room_type",
        "amenities",
        "bathrooms_text",
        "license",
    ]
]

listings_categorical_df.head()

C:\Users\johbr\AppData\Local\Temp\ipykernel_21080\2863804353.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings_categorical_df.rename(columns={"id": "listing_id", "name": "listing_name"}, inplace=True)

,listing_id,listing_name,hover_description,description,listing_url,neighborhood_overview,picture_url,property_type,room_type,amenities,bathrooms_text,license
0,3686,Vita's Hideaway,Vita's Hideaway,IMPORTANT NOTES<br />* Carefully read and be s...,https://www.airbnb.com/rooms/3686,We love that our neighborhood is up and coming...,https://a0.muscache.com/pictures/61e02c7e-3d66...,Private room in home,Private room,"[""Shampoo"", ""Smoke alarm"", ""Essentials"", ""Stov...",1 shared bath,NaN
1,3943,Historic Rowhouse Near Monuments,Historic Rowhouse Near Monuments,You will be staying in high ceiling bedroom w...,https://www.airbnb.com/rooms/3943,This rowhouse is centrally located in the hear...,https://a0.muscache.com/pictures/airflow/Hosti...,Private room in townhouse,Private room,"[""Luggage dropoff allowed"", ""Window AC unit"", ...",1 private bath,Hosted License: 5007242201001033
2,4197,Capitol Hill Bedroom walk to Metro,Capitol Hill Bedroom walk to Metro,This is the middle bedroom upstairs in a resto...,https://www.airbnb.com/rooms/4197,"Our area, the Eastern Market neighborhood of C...",https://a0.muscache.com/pictures/miso/Hosting-...,Private room in home,Private room,"[""Luggage dropoff allowed"", ""Fire pit"", ""Shamp...",1.5 shared baths,Hosted License: 5007242201000749
3,4529,Bertina's House Part One,Bertina's House Part One,This is large private bedroom with plenty of...,https://www.airbnb.com/rooms/4529,Very quiet neighborhood and it is easy accessi...,https://a0.muscache.com/pictures/86072003/6709...,Private room in home,Private room,"[""Luggage dropoff allowed"", ""Shampoo"", ""Smoke ...",1 private bath,Exempt
4,5589,Cozy apt in Adams Morgan,Cozy apt in Adams Morgan,This is a 1 br (bedroom + living room in Adams...,https://www.airbnb.com/rooms/5589,"Adams Morgan spills over with hipsters, salsa ...",https://a0.muscache.com/pictures/miso/Hosting-...,Entire rental unit,Entire home/apt,"[""Luggage dropoff allowed"", ""Ethernet connecti...",1 bath,NaN

In [234]:
listings_categorical_df.dtypes

listing_id                int64
listing_name             object
hover_description        object
description              object
listing_url              object
neighborhood_overview    object
picture_url              object
property_type            object
room_type                object
amenities                object
bathrooms_text           object
license                  object
dtype: object

In [235]:
# run save function
to_sql_and_csv("listings_categorical", listings_categorical_df)

# availability

In [236]:
availability_df = df[["id", "has_availability", "availability_30", "availability_60", "availability_90", "availability_365", "calendar_last_scraped", "instant_bookable"]]
availability_df.head()

,id,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,instant_bookable
0,3686,t,1,1,1,1,2025-03-14,f
1,3943,t,14,44,74,349,2025-03-13,f
2,4197,t,21,47,77,352,2025-03-13,f
3,4529,t,29,59,89,179,2025-03-13,f
4,5589,t,23,38,68,158,2025-03-13,f

In [237]:
# rename columns
availability_df.rename(columns={"id": "listing_id"}, inplace=True)

# convert has_availability, instant_bookable to boolean
columns_to_bool = ["has_availability", "instant_bookable"]

for column in columns_to_bool:
    availability_df[column] = availability_df[column].map({"t": True, "f": False}).astype(bool)
    
# convert calendar_last_scraped to datetime
availability_df.calendar_last_scraped = pd.to_datetime(availability_df.calendar_last_scraped)

availability_df.dtypes

C:\Users\johbr\AppData\Local\Temp\ipykernel_21080\1790045905.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  availability_df.rename(columns={"id": "listing_id"}, inplace=True)
C:\Users\johbr\AppData\Local\Temp\ipykernel_21080\1790045905.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  availability_df[column] = availability_df[column].map({"t": True, "f": False}).astype(bool)
C:\Users\johbr\AppData\Local\Temp\ipykernel_21080\1790045905.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  availability_df[column] = availability_df[column].map({"t": True, "f": False}).astype(bool)
C:\Users\johbr\AppData\Local\Temp\ipykernel_21080\1790045905.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  availability_df.calendar_last_scraped = pd.to_datetime(availability_df.calendar_last_scraped)

listing_id                        int64
has_availability                   bool
availability_30                   int64
availability_60                   int64
availability_90                   int64
availability_365                  int64
calendar_last_scraped    datetime64[ns]
instant_bookable                   bool
dtype: object

In [238]:
# run save function
to_sql_and_csv("availability", availability_df)

# min_max_night

In [239]:
min_max_night_df = df[["id", "minimum_nights", "maximum_nights", "minimum_minimum_nights", "maximum_minimum_nights", "minimum_maximum_nights", "maximum_maximum_nights", "minimum_nights_avg_ntm", "maximum_nights_avg_ntm"]]
min_max_night_df.head()

,id,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm
0,3686,31,365,31.0,31.0,365.0,365.0,31.0,365.0
1,3943,1,1125,1.0,1.0,1125.0,1125.0,1.0,1125.0
2,4197,4,29,4.0,4.0,1125.0,1125.0,4.0,1125.0
3,4529,30,1125,30.0,30.0,1125.0,1125.0,30.0,1125.0
4,5589,50,90,31.0,31.0,90.0,90.0,31.0,90.0

In [240]:
# rename column
min_max_night_df.rename(columns={"id": "listing_id"}, inplace=True)

min_max_night_df.dtypes

C:\Users\johbr\AppData\Local\Temp\ipykernel_21080\841918367.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  min_max_night_df.rename(columns={"id": "listing_id"}, inplace=True)

listing_id                  int64
minimum_nights              int64
maximum_nights              int64
minimum_minimum_nights    float64
maximum_minimum_nights    float64
minimum_maximum_nights    float64
maximum_maximum_nights    float64
minimum_nights_avg_ntm    float64
maximum_nights_avg_ntm    float64
dtype: object

# Fixing a one row mistake for March 2025!!

In [241]:
# # Check for rows with missing values in 'minimum_minimum_nights'
# missing_minimum_minimum_nights = min_max_night_df[min_max_night_df['minimum_minimum_nights'].isnull()]
# print(missing_minimum_minimum_nights)

               listing_id  minimum_nights  maximum_nights  \
4144  1046002486238502500               1             365

      minimum_minimum_nights  maximum_minimum_nights  minimum_maximum_nights  \
4144                     NaN                     NaN                     NaN

      maximum_maximum_nights  minimum_nights_avg_ntm  maximum_nights_avg_ntm
4144                     NaN                     NaN                     NaN

In [242]:
# # default values for missing columns
# default_values = {
#     "minimum_minimum_nights": 1,
#     "maximum_minimum_nights": 1,
#     "minimum_maximum_nights": 365,
#     "maximum_maximum_nights": 365,
#     "minimum_nights_avg_ntm": 1,
#     "maximum_nights_avg_ntm": 365,
# }

# # apply default values to specific row
# for column, default_value in default_values.items():
#     min_max_night_df.loc[4144, column] = default_value

# # verify changes
# print(min_max_night_df.loc[4144])

listing_id                1.046002e+18
minimum_nights            1.000000e+00
maximum_nights            3.650000e+02
minimum_minimum_nights    1.000000e+00
maximum_minimum_nights    1.000000e+00
minimum_maximum_nights    3.650000e+02
maximum_maximum_nights    3.650000e+02
minimum_nights_avg_ntm    1.000000e+00
maximum_nights_avg_ntm    3.650000e+02
Name: 4144, dtype: float64

In [243]:
# run save function
to_sql_and_csv("min_max_night", min_max_night_df)

# listing_reviews

In [244]:
listing_reviews_df = df[
    [
        "id",
        "number_of_reviews",
        "number_of_reviews_ltm",
        "number_of_reviews_l30d",
        "first_review",
        "last_review",
        "review_scores_rating",
        "review_scores_accuracy",
        "review_scores_cleanliness",
        "review_scores_checkin",
        "review_scores_communication",
        "review_scores_location",
        "reviews_per_month",
        "review_scores_value",
    ]
]
listing_reviews_df.head()

,id,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,reviews_per_month,review_scores_value
0,3686,84,0,0,2010-11-01,2023-08-30,4.64,4.73,4.45,4.91,4.84,3.91,0.48,4.64
1,3943,534,38,1,2009-05-10,2025-02-19,4.86,4.89,4.93,4.94,4.92,4.60,2.77,4.77
2,4197,64,6,0,2009-05-14,2025-01-30,4.87,4.98,4.89,5.00,4.98,4.97,0.33,4.93
3,4529,102,0,0,2009-08-08,2019-07-05,4.66,4.80,4.60,4.93,4.93,4.51,0.54,4.83
4,5589,96,0,0,2009-09-22,2023-08-17,4.50,4.71,4.13,4.82,4.82,4.91,0.51,4.44

In [245]:
listing_reviews_df.dtypes

id                               int64
number_of_reviews                int64
number_of_reviews_ltm            int64
number_of_reviews_l30d           int64
first_review                    object
last_review                     object
review_scores_rating           float64
review_scores_accuracy         float64
review_scores_cleanliness      float64
review_scores_checkin          float64
review_scores_communication    float64
review_scores_location         float64
reviews_per_month              float64
review_scores_value            float64
dtype: object

In [246]:
# rename column
listing_reviews_df.rename(columns={"id": "listing_id"}, inplace=True)

# convert first_review and last_review to datetime
listing_reviews_df = listing_reviews_df.assign(
    first_review=pd.to_datetime(listing_reviews_df["first_review"]),
    last_review=pd.to_datetime(listing_reviews_df["last_review"]),
)

listing_reviews_df.dtypes

C:\Users\johbr\AppData\Local\Temp\ipykernel_21080\3894488547.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listing_reviews_df.rename(columns={"id": "listing_id"}, inplace=True)

listing_id                              int64
number_of_reviews                       int64
number_of_reviews_ltm                   int64
number_of_reviews_l30d                  int64
first_review                   datetime64[ns]
last_review                    datetime64[ns]
review_scores_rating                  float64
review_scores_accuracy                float64
review_scores_cleanliness             float64
review_scores_checkin                 float64
review_scores_communication           float64
review_scores_location                float64
reviews_per_month                     float64
review_scores_value                   float64
dtype: object

In [247]:
# run save function
to_sql_and_csv("listing_reviews", listing_reviews_df)

# reviews

In [248]:
# read in csv
# reviews_pt1 = pd.read_csv(path_to_reviews_pt1)
# reviews_pt2 = pd.read_csv(path_to_reviews_pt2)
# reviews_df = pd.concat([reviews_pt1, reviews_pt2])
reviews_df = pd.read_csv(path_to_reviews)
reviews_df.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,3686,131293,2010-11-01,257234,Callie,Staying with Levita and her wonderful family w...
1,3686,150766,2010-12-08,255888,Patrick,"Vita is a very welcoming, helpful and friendly..."
2,3686,177749,2011-02-02,366688,Benjamin,"This was my first time using ""airbnb"" and it m..."
3,3686,197451,2011-03-12,213492,T.J.,"First, Vita saved my work week by providing me..."
4,3686,213212,2011-03-30,428455,Pete,Great host! Very welcoming and organised. I st...

In [249]:
# change date to datetime
reviews_df["date"] = pd.to_datetime(reviews_df["date"])

# change column names
reviews_df.rename(
    columns={"id": "review_id", "date": "review_date", "comments": "review_comments"},
    inplace=True,
)

# reorder columns, drop comments as unnecessary and space-consuming
reviews_df = reviews_df[
    [
        "review_id",
        "listing_id",
        "review_date",
        "reviewer_id",
        "reviewer_name",
        "review_comments",
    ]
]

# filter out reviews where listing_id is not in listings_df
# otherwise it'll trip a foreign key constraint
reviews_df = reviews_df[reviews_df["listing_id"].isin(listings_df["listing_id"])]

reviews_df.dtypes

review_id                   int64
listing_id                  int64
review_date        datetime64[ns]
reviewer_id                 int64
reviewer_name              object
review_comments            object
dtype: object

In [250]:
# count duplicates (entire rows and subset)
duplicate_count = reviews_df.duplicated().sum()
duplicate_count_specific = reviews_df.duplicated(subset='review_id').sum()

print(f"Total duplicate rows: {duplicate_count}")
print(f"Total duplicate rows based on 'review_id': {duplicate_count_specific}")

# remove duplicates based on 'review_id'
reviews_df = reviews_df.drop_duplicates(subset='review_id', keep='first')

Total duplicate rows: 0
Total duplicate rows based on 'review_id': 85

In [251]:
# run save function
to_sql_and_csv("reviews", reviews_df)

# calendar

In [252]:
calendar_df = pd.read_csv(path_to_calendar)
calendar_df.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,3686,2025-03-13,t,$67.00,NaN,NaN,NaN
1,3686,2025-03-14,t,$67.00,NaN,31.0,365.0
2,3686,2025-03-15,t,$67.00,NaN,31.0,365.0
3,3686,2025-03-16,t,$67.00,NaN,31.0,365.0
4,3686,2025-03-17,t,$67.00,NaN,31.0,365.0

In [253]:
# drop rows not in listings_df
calendar_df = calendar_df[calendar_df["listing_id"].isin(listings_df["listing_id"])]

# drop empty column
calendar_df.drop(columns=["adjusted_price"], inplace=True)

# convert date to datetime
calendar_df["date"] = pd.to_datetime(calendar_df["date"])

# convert available to boolean
calendar_df["available"] = (
    calendar_df["available"].map({"t": True, "f": False}).astype("boolean")
)

# convert price to float
calendar_df["price"] = (
    calendar_df["price"].str.replace("$", "").str.replace(",", "").astype(float)
)

# add an index column, called num
calendar_df.reset_index(inplace=True)
calendar_df.rename(columns={"index": "id"}, inplace=True)

calendar_df.dtypes

id                         int64
listing_id                 int64
date              datetime64[ns]
available                boolean
price                    float64
minimum_nights           float64
maximum_nights           float64
dtype: object

# Fixing an error, March 2025!!

In [254]:
len(calendar_df)

2282941

In [255]:
# Check for rows with missing values in 'minimum_nights'
missing_minimum_nights = calendar_df[calendar_df['minimum_nights'].isnull()]
print(missing_minimum_nights)

              id           listing_id       date  available  price  \
0              0                 3686 2025-03-13       True   67.0
6206        6206                93551 2025-03-13      False   88.0
19347      19347               538598 2025-03-13      False  125.0
20443      20443               563607 2025-03-13      False  118.0
21539      21539              7290056 2025-03-13      False  189.0
...          ...                  ...        ...        ...    ...
2245706  2245706  1362082966848204910 2025-03-13      False  165.0
2264322  2264322  1373919946920614774 2025-03-13      False  120.0
2270528  2270528              8165340 2025-03-13      False  155.0
2271259  2271259              8191090 2025-03-13      False  150.0
2276370  2276370              8419348 2025-03-13      False   89.0

         minimum_nights  maximum_nights
0                   NaN             NaN
6206                NaN             NaN
19347               NaN             NaN
20443               NaN             NaN
21539               NaN             NaN
...                 ...             ...
2245706             NaN             NaN
2264322             NaN             NaN
2270528             NaN             NaN
2271259             NaN             NaN
2276370             NaN             NaN

[448 rows x 7 columns]

In [256]:
# run save function
to_sql_and_csv("calendar", calendar_df)

In [257]:
# analyze and reindex data
# overachieving
with engine.connect() as conn:
    with open("./schema_post.sql", "r") as file:
        queries = file.read().split(";")
        for query in queries:
            # strip whitespace and ignore empty queries
            if query.strip() != "":
                conn.execute(text(query))
                conn.commit()

# Don't forget to VACUUM FULL;

---

# Save to .csv for GitHub Pages version

# And geojson for both Flask and Pages versions

save sql view map_listings to csv

In [258]:
# function to read data from database
def read_db_to_df(query):
    with engine.connect() as conn:
        return pd.read_sql(query, conn)
    
# get df
df = read_db_to_df("SELECT * FROM map_listings")

# Print the number of rows in the DataFrame
print(f"Number of listings: {df.shape[0]}")

df.head()

Number of listings: 6257

,listing_id,latitude,longitude,hover_description,listing_url,price,property_type,room_type,accommodates,number_of_reviews,...,review_scores_rating,reviews_per_month,host_id,host_name,host_identity_verified,host_listings_count,host_total_listings_count,license,neighbourhood,minimum_nights
0,3686,38.86339,-76.98889,Vita's Hideaway,https://www.airbnb.com/rooms/3686,60.0,Private room in home,Private room,1,84,...,4.64,0.48,4645,Vita,True,1,4,None,SE Historic Anacostia,31.0
1,3943,38.91195,-77.00456,Historic Rowhouse Near Monuments,https://www.airbnb.com/rooms/3943,63.0,Private room in townhouse,Private room,2,534,...,4.86,2.77,5059,Vasa,True,5,5,Hosted License: 5007242201001033,"NE/NW Edgewood, Bloomingdale, Truxton Circle, ...",1.0
2,4197,38.88719,-76.99472,Capitol Hill Bedroom walk to Metro,https://www.airbnb.com/rooms/4197,128.0,Private room in home,Private room,1,64,...,4.87,0.33,5061,Sandra,True,2,2,Hosted License: 5007242201000749,"SE Capitol Hill, Lincoln Park",4.0
3,4529,38.90585,-76.94469,Bertina's House Part One,https://www.airbnb.com/rooms/4529,64.0,Private room in home,Private room,2,102,...,4.66,0.54,5803,Bertina,True,4,4,Exempt,"NE Eastland Gardens, Kenilworth",30.0
4,14218,38.92668,-77.07686,Quiet Comfort near Nat'l Cathedral,https://www.airbnb.com/rooms/14218,52.0,Private room in home,Private room,2,106,...,4.62,0.63,32015,Teresa,True,4,6,None,"NW-far Cathedral Heights, McLean Gardens, Glov...",31.0

In [259]:
# export data to csv in GitHub Pages
df.to_csv('../../../docs/static/resources/airbnb_data.csv', index=False)

# export data to csv for Tableau
# df.to_csv('../tableau_data/airbnb_data_v3.csv', index=False)

save sql view price_availability to csv

In [260]:
# function to read data from database
def read_db_to_df(query):
    with engine.connect() as conn:
        return pd.read_sql(query, conn)
    
# get df
df = read_db_to_df("SELECT * FROM price_availability")

# Print the number of rows in the DataFrame
print(f"Number of listings: {df.shape[0]}")

df.head()

Number of listings: 14678

,neighbourhood,date,avg_price,available_listings
0,"NE Brookland, Brentwood, Langdon",2025-03-13,135.166667,6
1,"NE Brookland, Brentwood, Langdon",2025-03-14,100.375000,16
2,"NE Brookland, Brentwood, Langdon",2025-03-15,107.640000,25
3,"NE Brookland, Brentwood, Langdon",2025-03-16,151.641026,39
4,"NE Brookland, Brentwood, Langdon",2025-03-17,138.837209,43

In [261]:
# export data to csv in GitHub Pages
df.to_csv('../../../docs/static/resources/price_availability_data.csv', index=False)

# export data to csv for Tableau
# df.to_csv('../tableau_data/price_availability_data.csv', index=False)

save neighbourhoods_cleaned.geojson

In [262]:
import shutil

# copy geojson backup to GitHubPages and FlaskApp
shutil.copy(output_path_geojson_backup, output_path_geojson_GitHubPages)
shutil.copy(output_path_geojson_backup, output_path_geojson_FlaskApp)
# shutil.copy(output_path_geojson_backup, output_path_geojson_tableau)

'../../../flask/static/resources/neighbourhoods_cleaned.geojson'